<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.poor.mapper.FamilyMapper">

    <resultMap id="FamilyDtoMap" type="com.ruoyi.poor.dto.FamilyDto">
        <id column="id" property="id" />
        <result column="master_card_id" property="masterCardId" />
        <result column="village" property="village" />
        <result column="address" property="address" />
        <result column="family_count" property="familyCount" />
        <result column="family_no" property="familyNo" />

        <association property="master" javaType="com.ruoyi.poor.domain.User">
            <id column="master_id" property="id" />
            <result column="master_card_id" property="cardId" />
            <result column="name" property="name" />
            <result column="phone" property="phone" />
        </association>
    </resultMap>

    <select id="selectFamilyList" parameterType="com.ruoyi.poor.dto.FamilyDto" resultMap="FamilyDtoMap">
        SELECT
        t1.id, t1.master_card_id, t2.id as master_id, t2.NAME, t2.phone, t1.family_no,t1.address, t1.village,t1.family_count
        FROM
        poor_family t1
        LEFT JOIN poor_user t2 ON t1.master_card_id = t2.card_id
        <where>
            <if test="masterCardId != null  and masterCardId != ''"> and t1.master_card_id like concat('%', #{masterCardId}, '%')</if>
            <if test="masterName != null  and masterName != ''"> and t2.name like concat('%', #{masterName}, '%')</if>
        </where>
    </select>

    <select id="selectFamilyById"  resultMap="FamilyDtoMap">
        SELECT
        t1.id, t1.master_card_id, t2.id as master_id, t2.NAME, t2.phone, t1.family_no, t1.address, t1.village,t1.family_count
        FROM
        poor_family t1
        LEFT JOIN poor_user t2 ON t1.master_card_id = t2.card_id
        <where>
            t1.id=#{id}
        </where>
    </select>


</mapper>