<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.poor.mapper.FamilyMapper">

    <resultMap id="FamilyDtoMap" type="com.ruoyi.poor.dto.FamilyDto">
        <id column="id" property="id" />
        <result column="master_card_id" property="masterCardId" />
        <result column="village" property="village" />
        <result column="address" property="address" />
        <result column="family_count" property="familyCount" />
        <result column="family_no" property="familyNo" />

        <association property="master" javaType="com.ruoyi.poor.domain.User">
            <id column="master_id" property="id" />
            <result column="master_card_id" property="cardId" />
            <result column="name" property="name" />
            <result column="phone" property="phone" />
        </association>
    </resultMap>

    <select id="selectFamilyList" parameterType="com.ruoyi.poor.dto.FamilyDto" resultMap="FamilyDtoMap">
        SELECT
        t1.id, t1.master_card_id, t2.id as master_id, t2.NAME, t2.phone, t1.family_no,t1.address, t1.village,
        (select count(*) from poor_family_user tt1 where tt1.family_id=t1.id) as family_count
        FROM
        poor_family t1
        LEFT JOIN poor_user t2 ON t1.master_card_id = t2.card_id
        <where>
            <if test="masterCardId != null  and masterCardId != ''"> and t1.master_card_id like concat('%', #{masterCardId}, '%')</if>
            <if test="masterName != null  and masterName != ''"> and t2.name like concat('%', #{masterName}, '%')</if>
            <if test="familyNo != null  and familyNo != ''"> and t1.family_no like concat('%', #{familyNo}, '%')</if>
        </where>
    </select>

    <select id="selectFamilyById"  resultMap="FamilyDtoMap">
        SELECT
        t1.id, t1.master_card_id, t2.id as master_id, t2.NAME, t2.phone, t1.family_no, t1.address, t1.village,t1.family_count
        FROM
        poor_family t1
        LEFT JOIN poor_user t2 ON t1.master_card_id = t2.card_id
        <where>
            t1.id=#{id}
        </where>
    </select>


    <select id="selUserCountGroupByVillage" parameterType="com.ruoyi.poor.dto.FamilyDto" resultType="com.ruoyi.poor.dto.FamilyDto">
        SELECT
            t3.dict_label as village,COUNT(*) as userCount
        FROM
            poor_family_user t1
                LEFT JOIN poor_family t2  on t1.family_no=t2.family_no
                left join sys_dict_data t3 on (t3.dict_type='village' and t2.village=t3.dict_value)
        GROUP BY t2.village
    </select>

</mapper>